<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Shortener</title>
</head>
<body>
    <p>You can shorten URLs here.</p>
    <form action="/" method="post">
        <input name="linkentry" type="text" placeholder="Link to shorten">
        <input name="custom" type="text" placeholder="Custom link (optional)">
        <button type="submit">Submit</button>
        <br>
        {{ newlink }}
    </form>
</body>
</html>